<div *ngIf="isMessage()" class="alert alert-primary" role="alert">
  {{message}}
</div>
<div class="container">
  <div class="row">
    <div class="col" *ngFor="let course of courselist">
      <!-- Display course cards for study list -->
      <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h2 class="card-title">{{course[0]}}</h2>
        <h3 class="card-subtitle mb-2 text-muted">{{course[1]}} {{course[2]}}</h3>
        <p class="card-text"><br><br><br><br></p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary" (click)="change(course[0])">P/NP</button>
        <button type="button" class="btn btn-primary" (click)="drop(course[0])">Drop</button>
      </div>
      </div>
    </div>
    <div class="auto"></div>
  </div>
</div>
<router-outlet></router-outlet>
