<div class="container">
  <div class="row">
    <div class="col" *ngFor="let course of courselist">
      <!-- Display course cards for study list -->
      <div class="card" style="width: auto;">
      <div class="card-body">
        <h5 class="card-title">{{course[0]}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{course[1]}} {{course[2]}}</h6>
        <p class="card-text"><br><br><br><br></p>
        <a class="btn btn-primary" role="button" (click)="change">P/NP</a>
        <a class="btn btn-primary" role="button" (click)="drop">Drop</a>
      </div>
      </div>
    </div>
    <div class="auto"></div>
  </div>
</div>
<router-outlet></router-outlet>
