<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
<ul class="navbar-nav mr-auto">
  <li class="nav-item navbar-brand">
    <a class="navbar-brand" href="/">
      ZotReg
    </a>
  </li>
</ul>
<ul class="navbar-nav navbar-right">
  <!-- Enroll button -->
  <li class="nav-item col" >
    <a class="btn btn-dark" role="button" href="enroll">Enroll</a>
  </li>
  <!-- Log In button -->
  <li class="nav-item col" >
    <a class="btn btn-dark" role="button" href="login">Login</a>
  </li>
</ul>
</nav>
<main class="container-fluid">
<router-outlet></router-outlet>
</main>
