<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Course Code</th>
      <th scope="col">Course Number</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of enroll;let i=index">
      <th scope="row">{{i+1}}</th>
      <td>{{course[0]}}</td>
      <td>{{course[1]}} {{course[2]}}</td>
      <td>
        <button type="button" class="btn btn-outline-danger"  aria-label="Remove course" (click)="removeCourse(course[0])">X</button>
      </td>
    </tr>
  </tbody>
</table>
